body{
    background-color: #eff0d5;
}

.corpo{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-top: 10%; 
    background-color: #eff0d5;
    font-family: "Montserrat", sans-serif;
}

.titulo{
    font-size: 60px;
    color: #171430;
    font-weight: 500;
    margin: 0.5em;
}


.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

.secundario{
    text-align: center;
    background-color: #c4d4ab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px black;
    width: 590px;
}

.material-symbols-outlined{
    background-color: #171430;
    color: #c4d4ab;
    border-radius: 100%;
    padding: 0.2em;
    cursor: pointer;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.duvida{
    position: absolute;
    background-color: #171430;
    color: #c4d4ab;
    display: none;
    padding: 3em;
    gap: 3em;
    margin: 5% 20%;
    align-items: center;
    flex-direction: column;
}

h3{
    font-size: 50px;
    font-weight: 500;
}

.regras{
    font-size: 1.5em;
    font-weight: 300;
}


h2{
    font-size: 40px;
    color: #171430;
    font-weight: 400;
}

.tentativas{
    margin-top: 30px;
    font-size: 20px;
}

.ganhou{
    font-weight: 500;
    margin-top: 30px;
    font-size: 20px;
}

input{
    width: 60px;
    font-size: 60px;
    border-bottom: 5px solid #171430;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 8px;
    background-color: #eff0d5;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
    background-color: #e0e0b6;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    padding: 10px;
    box-shadow: 2px 3px 8px black;
}

button:hover{
    background-color: #c4d4ab;
}

button:active{
    background-color: #87b091;
}



@media only screen and (max-width : 1430px) {

    .corpo{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10%; 
        background-color: #eff0d5;
        font-family: "Montserrat", sans-serif;
    }

    .secundario{
        text-align: center;
        background-color: #c4d4ab;
        border-radius: 10px;
        box-shadow: 2px 3px 8px black;
        margin-right: 2em;
    }
}

@media only screen and (max-width : 1000px) {
    
    .corpo {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        margin-top: 10%; 
        background-color: #eff0d5;
        font-family: "Montserrat", sans-serif;
    }

    .titulo{
        font-size: 3em;
        text-align: center;
        color: #171430;
        font-weight: 500;
    }

    .secundario{
        text-align: center;
        background-color: #c4d4ab;
        border-radius: 10px;
        box-shadow: 2px 3px 8px black;
        margin-right: 0em;
        
    }
}

@media only screen and (max-width : 640px) {
    
        .corpo {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            margin-top: 10%; 
            background-color: #eff0d5;
            font-family: "Montserrat", sans-serif;
        }
    
        .titulo{
            font-size: 3em;
            text-align: center;
            color: #171430;
            font-weight: 500;
        }
    
        .secundario{
            text-align: center;
            background-color: #c4d4ab;
            border-radius: 10px;
            box-shadow: 2px 3px 8px black;
            width: 90%;
            margin-right: 0em;
        }

        h2{
            font-size: 3em;
            color: #171430;
            font-weight: 400;
        }

        input{
            width: 15%;
            border-bottom: 5px solid #171430;
            border-left: none;
            border-right: none;
            border-top: none;
            outline: none;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 40px;
            margin-right: 8px;
            background-color: #eff0d5;
        }

        .botoes{
            display: flex;
            justify-content: center;
            gap: 10%;
        }

        h2{
            font-size: 175%;
            color: #171430;
            font-weight: 400;
        }

        .duvida{
            position: absolute;
            background-color: #171430;
            color: #c4d4ab;
            display: none;
            padding: 2em;
            gap: 3em;
            margin: 5% 5%;
            align-items: center;
            flex-direction: column;
        }
        
        h3{
            font-size: 230%;
            font-weight: 500;
        }
        
        .regras{
            font-size: 110%;
            font-weight: 300;
        }
}














