body{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10%; 
    background-color: #eff0d5;
    font-family: "Montserrat", sans-serif;
}

header{
    font-size: 60px;
    color: #171430;
    font-weight: 500;
}


.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes{
    display: flex;
    justify-content: space-around;
}

.secundario{
    text-align: center;
    background-color: #c4d4ab;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 8px black;
}


h2{
    font-size: 40px;
    color: #171430;
    font-weight: 400;
}

.tentativas{
    margin-top: 30px;
    font-size: 20px;
}

input{
    width: 60px;
    font-size: 60px;
    border-bottom: 5px solid #171430;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 8px;
    background-color: #eff0d5;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button{
    background-color: #e0e0b6;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    padding: 10px;
    box-shadow: 2px 3px 8px black;
}

button:hover{
    background-color: #c4d4ab;
}

button:active{
    background-color: #87b091;
}